<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Lista de filmes</title>
</head>
<body>
 <!-- Início do Cabeçalho -->
    <header>
        <div>
            <img class="logo" src="static/img/filme.png" alt="Logo da lista de sugestão de filmes">
        </div>
        <div class="titulo">
            <h1>LISTA DE FILMES</h1>
        </div>
    </header>
    <!-- fim do cabeçalho -->
        <h2>FILMES</h2>
       <center>
           <section class="tabela">
               <div class="div">
                   <p>O REI LEÃO</p>
                   <a href="/editar_filme" class="botao">EDITAR</a>
                    <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
               <div class="div">
                   <p>O TELEFONE PRETO</p>
                   <a href="/editar_filme" class="botao">EDITAR</a>
                   <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
               <div class="div">
                   <p>TITANIC</p>
                   <a href="/editar_filme" class="botao">EDITAR</a>
                   <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
               <div class="div">
                   <p>VINGADORES: GUERRA INFINITA</p>
                   <a href="/editar_filme" class="botao">EDITAR</a>
                   <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
               <div class="div">
                   <p>10 COISAS QUE EU ODEIO EM VOCÊ</p>
                   <a href="/editar_filme" class="botao">EDITAR</a>
                   <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
               <div class="div">
                 <p>GENTE GRANDE</p>
                 <a href="/editar_filme" class="botao">EDITAR</a>
                 <a href="/apagar_filme" class="botao">EXCLUIR</a>
               </div>
                <br /><br/>
               <a href="/adicionar_filme" class= "adicionar">ADICIONAR FILME</a>
            </section>
       </center>

 <!-- rodapé -->
 <center>
     <footer>
        <p class="rodape">© 2024. Todos os direitos reservados.</p>
    </footer>
 </center>
<!-- fim do rodapé -->
</body>
</html>